@import '../../../styles/variables.sass'

.BillboardPanel
	background: $bg
	padding: 10px
	border-radius: 8px
	margin-top: 5px
	margin-bottom: 10px

	.PanelIconInner
		text-align: center

		svg 
			fill: $co
			width: 40px
			height: 40px
